html {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: #ffffff;

}

body {
    margin: 0;
    padding: 0;
}

.navbar {
      background: #111111 ;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      height: 90px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0 !important;
      padding: 0 !important;


}

.navmenu ul  {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 0;
    margin-right: 37px;
    font-size: large;
    
}

.navmenu li, a {
    color:#ffffff;
    text-decoration: none;
}

.active {
    color: rgb(244, 149, 7);
;
}

.navmenu li :hover {
    color:#ffffff;
}

.hero {
    margin: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 20px;
    font-size: large;

}

.profile {
    margin-top: 30px;

}

.profile img {
    width: 200px;
    height: 200px;
    border: solid 3px rgb(244, 149, 7);
    border-radius: 50%;
    
}

.description {
    max-width: 900px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
}




.btn1 {
    background-color:  #008080 ;
    color: white;
    height: 37px;
    font-size: large;
    border: none;
    border-radius: 8px;
}
.btn1:hover {
    cursor: pointer;
    background-color: #1e90ff ;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #001f3f ;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}